
<div class="register-page">

  <mat-card class="register-card">

    <mat-card-header class="register-card">
      <mat-card-title>StudyFlow</mat-card-title>

      <mat-card-subtitle>Crea una cuenta para comenzar</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <form class="register-form" (ngSubmit)="register()">

        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input matInput type="email" name="email" [(ngModel)]="email" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="password" required>
        </mat-form-field>

        <button mat-flat-button type="submit">
          Registrarse
        </button>

      </form>

      @if (message) {

      <p class="success">
      {{ message }}
      </p>

      }

      @if (error) {

      <p class="error">
      {{ error }}
      </p>
      }
      <p class="auth-link">
      ¿Ya tienes cuenta?

      <a routerLink="/login">
        Inicia sesión
      </a>
      </p>
    </mat-card-content>

  </mat-card>

</div>
