
<div class="register-page">

  <mat-card class="register-card">

    <mat-card-header class="register-card">
      <mat-card-title>StudyFlow</mat-card-title>

      <mat-card-subtitle>Crea una cuenta para comenzar</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <form class="register-form" #registerForm="ngForm" (ngSubmit)="register()">

        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input matInput type="email" name="email" [(ngModel)]="email" #emailField="ngModel" email autocomplete="email" required>

          @if (emailField.dirty && emailField.hasError('email')) {
            <mat-error>Por favor, ingresa un correo válido</mat-error>
          }

        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="password" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirmar contraseña</mat-label>
          <input matInput type="password" name="confirmPassword" [(ngModel)]="confirmPassword"
            #confirmPasswordField="ngModel" autocomplete="new-password" required>

          @if (confirmPasswordField.dirty && !passwordsMatch) {
            <p class="field-error">Las contraseñas no coinciden</p>
          }
        </mat-form-field>

        <button mat-flat-button type="submit" [disabled]="registerForm.invalid || !passwordsMatch">
          Registrarse
        </button>

      </form>

      <p class="auth-link">
      ¿Ya tienes cuenta?

      <a routerLink="/login">
        Inicia sesión
      </a>
      </p>
    </mat-card-content>

  </mat-card>

</div>
